.App {
  text-align: center;
}

.App-header {
  background-color: #141E46;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.main-section /* Replace with the actual class or id used for your white section */ {
  background-color: #141E46; /* Navy blue background */
  /* other styles */
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  width: 300px; /* You can set the width as you prefer */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  overflow: hidden;
}

.card-header {
  background-color: #141E46; /* Navy blue */
  color: white;
  padding: 10px;
  font-size: 1.25em;
}

.card-content {
  padding: 10px;
  background-color: #f3f3f3; /* Light grey background */
}

.card-footer {
  padding: 10px;
  background-color: #e1e1e1; /* Slightly darker grey for the footer */
  text-align: right;
}


nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px; /* Or any size you prefer */
  width: 30px; /* Maintain a square aspect ratio */
  padding: 5px;
}

.hamburger span {
  display: block;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Transformations for hamburger animation */
/* Add 'open' class to '.hamburger' span when the sidebar is open */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* App.css */

.hamburger {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  cursor: pointer;
  z-index: 100;
}

/* Styles for the lines in the hamburger icon */
.hamburger div {
  height: 3px;
  background: white; /* or any color you want */
  margin: 5px 0;
  transition: 0.4s;
}

.App-header {
  /* ... other styles ... */
  position: relative; /* For absolute positioning of hamburger */
}

/* Adjust the below styles as per your current CSS */
.sidebar {
  /* ... other styles ... */
  width: 250px; /* Width of the sidebar */
  transform: translateX(-250px); /* Hide sidebar by default */
  transition: transform 0.4s ease;
}

.sidebar.open {
  transform: translateX(0); /* Show sidebar */
}

.main-content {
  transition: margin-left 0.4s ease;
}

.main-content.open {
  margin-left: 250px; /* Push content to the right when sidebar is open */
}
